<section id="whyMe">
  <img class="profPic2" src="/assets/img/Bewerbung1.jpg" alt="me" />

  <div class="whyMe">
    <h2>{{ "WHY_ME.TITLE" | translate }}</h2>
    <p>{{ "WHY_ME.DESCRIPTION" | translate }}</p>
    <img
      class="relocateArrowMobile none"
      src="/assets/img/arrow3.svg"
      alt="arrow"
    />

    <h2 class="none">{{ "WHY_ME.I_AM" | translate }}</h2>
    <div class="three">
      <div class="iAmLocated">
        <h2>{{ "WHY_ME.I_AM" | translate }}</h2>
        <div class="locationMark">
          <img src="/assets/img/location.svg" alt="location" />
          <div class="locationEllipse"></div>
        </div>
        <span>{{ "WHY_ME.LOCATED" | translate }}</span>
      </div>

      <div class="relocate">
        <img
          class="relocateArrow none"
          src="/assets/img/arrow3.svg"
          alt="arrow"
        />
        <div class="suitcase">
          <div class="suitcaseImg"></div>
          <span>{{ "WHY_ME.RELOCATE" | translate }}</span>
        </div>
      </div>

      <div class="workRemote">
        <div class="laptop">
          <img class="laptopB" src="../../../assets/img/laptop.svg" alt="" />
          <img class="wifiSignal" src="../../../assets/img/WIFI.svg" alt="" />
          <img
            class="wifiSignalHover"
            src="../../../assets/img/WIFI1.svg"
            alt=""
          />
          <span>{{ "WHY_ME.WORK_REMOTE" | translate }}</span>
        </div>
        <img
          class="relocateArrowMobile2 none"
          src="/assets/img/arrowMobile2.svg"
          alt="arrow"
        />
        <img src="/assets/img/arrow2.svg" alt="arrow" />
        <img src="/assets/img/arrow1.svg" alt="" />
      </div>
    </div>
    <a class="contactButton" href="#contactMe">
      <button>{{ "WHY_ME.BUTTON" | translate }}</button>
    </a>
  </div>
</section>
