nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 92px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 400px;
  align-items: center;
  background: linear-gradient(
    180deg,
    #0b042d 63.5%,
    rgba(11, 4, 45, 0.2) 118.69%
  );
  z-index: 999;
  padding: 0 20px;
}

.active-lang {
  color: #02f4bf !important;
  font-weight: bold;
}

.navTags {
  display: flex;
  align-items: center;
  gap: 40px;
  white-space: nowrap;
}

.logo {
  font-size: 24px;
  font-family: "Roboto Mono", monospace;
}

a {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #e15544;

  &:hover {
    cursor: pointer;
    color: #02f4bf;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.languageSeperator {
  margin: 0 8px;
  height: 20px;
}

.burgerButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
  }

  @media (min-width: 801px) {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #0b042d;
  width: 260px;
  height: 68vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-bottom-left-radius: 30px;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .mobileMenuHeader {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .closeButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .mobileMenuLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-top: 40px;

    a {
      font-family: "Roboto Mono", monospace;
      font-size: 36px;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        color: #02f4bf;
      }
    }

    .languageSwitcher {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      a {
        font-size: 24px;
      }
    }
  }
}

/* Responsive */
@media (max-width: 1000px) {
  .navTags {
    gap: 20px;
  }
}

@media (max-width: 840px) {
  nav {
    justify-content: space-between;
  }
  .navTags {
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .navTags a {
    display: none;
  }
  .flex {
    display: none;
  }
  .burgerButton {
    display: block;
  }
}
