
.navTags {
  display: flex;
  align-items: center;
  justify-content: left;
  white-space: nowrap;
  gap: 30px;
}

nav {
  position: fixed;
  height: 92px;
  display: flex;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #0B042D 63.5%, rgba(11, 4, 45, 0.2) 118.69%);
  width: 100vw;
  z-index: 999;
  max-width: 1600px;
}

a {
  width: 80px;
  height: 26px;
  gap: 0px;
  opacity: 1;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  line-height: 26.4px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #02f4bf;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;

}

.languageSeperator{
  margin-left: -18px;
  margin-right: -18px;
  height: 20px;
}

