footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 196px;
  margin-left: 105px;
}

.logo {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.frontFooter {
  display: flex;
  align-items: center;
  flex-direction: column;

  span {
    font-family: "Roboto Mono";
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }
}

.middleFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Roboto Mono";

  h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28x;
  }

  a {
    text-decoration: none;
    font-family: "Roboto Mono";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}

.middleFooter a:hover {
  color: #02f4bf;
}

.middleFooterSymbol,
.footerMobileSymbol {
  font-size: 12px;
  color: #e15544;
  border: 2px solid #e15544;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.e123 {
  display: flex;
  gap: 24px;
}

.e123 a {
  cursor: pointer;
  color: inherit;
  pointer-events: auto;
  position: relative;
  z-index: 10;
}

.middleFooterChild {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #e15544;
}

.gitImg {
  background-image: url("../../assets/img/git1.svg");
}

.emailImg {
  background-image: url("../../assets/img/emailFooter.svg");
}

.linkedInImg {
  background-image: url("../../assets/img/linkedIn.svg");
}

.emailImg,
.gitImg,
.linkedInImg {
  background-size: contain;
  background-repeat: no-repeat;
  height: 31px;
  width: 31px;
  transition: background-image 0.1s ease-in-out;
}

.endFooter {
  display: flex;
  gap: 8px;
}

@media (max-width: 1300px) {
  footer {
    width: 1140px;
  }
}

@media (max-width: 1000px) {
  footer {
    margin-left: 40px;
  }
}

.footer-mobile {
  width: auto;
  display: none;
  align-items: center;
  text-align: center;
  font-family: monospace;
}

.footer-mobile .footer-icons {
  display: flex;
  justify-content: space-around;
  margin: 10px auto 40px;
  width: 30%;
}

.footer-mobile .footer-icons a.gitImg,
.footer-mobile .footer-icons a.emailImg,
.footer-mobile .footer-icons a.linkedInImg {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.footer-mobile .footer-logo {
  font-size: 24px;
}

.footer-mobile .footer-copy {
  font-size: 14px;
}

.footer-mobile .footer-links a {
  display: block;
  font-size: 14px;
  color: #e15544;
  text-decoration: none;
}

.footer-logo {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.gap4px{
  gap: 4px;
}

@media (max-width: 770px) {
  footer {
    display: none;
  }
  .footer-mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 280px;
  }
}
