<footer>
  <div class="frontFooter">
    <h2 class="logo">&lt;MH&gt;</h2>
    <span>{{ "FOOTER.ROLE" | translate }}</span>
  </div>

  <div class="middleFooter">
    <div class="middleFooterChild">
      <h3 class="middleFooterSymbol">C</h3>
      <h2>{{ "FOOTER.COPYRIGHT" | translate }}</h2>
    </div>
    <div class="e123">
      <a routerLink="/legal-notice" (click)="scrollTop()">
        {{ "FOOTER.LEGAL_NOTICE" | translate }}
      </a>
      <a routerLink="/privacy-policy" (click)="scrollTop()">
        {{ "FOOTER.PRIVACY_POLICY" | translate }}
      </a>
    </div>
  </div>

  <div class="endFooter">
    <a href="https://github.com/Mario-Hidri" target="_blank">
      <div class="gitImg"></div>
    </a>
    <a href="mailto:mariohidri2014@yahoo.com"><div class="emailImg"></div></a>
    <a href="https://www.linkedin.com/in/mario-hidri-b030a6367" target="_blank">
      <div class="linkedInImg"></div>
    </a>
  </div>
</footer>

<footer class="footer-mobile">
  <div class="footer-icons">
    <a
      href="https://github.com/Mario-Hidri"
      target="_blank"
      rel="noopener noreferrer"
      class="gitImg"
    ></a>
    <a href="mailto:mariohidri2014@yahoo.com" class="emailImg"></a>
    <a
      href="https://linkedin.com/in/mario-hidri-b030a6367"
      rel="noopener noreferrer"
      class="linkedInImg"
    ></a>
  </div>
  <div class="gap4px">
    <div class="footer-logo">&lt;MH&gt;</div>
    <div class="footer-copy">&copy; Mario Hidri 2025</div>
  </div>

  <div class="footer-links gap4px">
    <a routerLink="/legal-notice" (click)="scrollTop()">
      {{ "FOOTER.LEGAL_NOTICE" | translate }}
    </a>
    <a routerLink="/privacy-policy" (click)="scrollTop()">
      {{ "FOOTER.PRIVACY_POLICY" | translate }}
    </a>
  </div>
</footer>
