<section id="contactMe">
  <div class="contactMeName">
    <h1>{{ "CONTACT.TITLE" | translate }}</h1>
    <img src="/assets/img/ArrowContact.svg" alt="Arrow Icon" />
  </div>

  <div class="emailAndPhone">
    <p>{{ "CONTACT.DESCRIPTION" | translate }}</p>
    <div class="spaceBetween">
      <div class="email">
        <div class="emailImg"></div>
        <a href="mailto:mariohidri2014@yahoo.com">
          {{ "CONTACT.EMAIL" | translate }}: mariohidri2014&#64;yahoo.com
        </a>
      </div>
      <div class="phone">
        <div class="phoneImg"></div>
        <a href="tel:+4917662095211">
          {{ "CONTACT.PHONE" | translate }}: +49 176 620 952 11
        </a>
      </div>
    </div>
    <a href="#header">
      <div class="arrowUpContact"></div>
    </a>
  </div>

  <!-- Mobile Beschreibung -->
  <div class="emailAndPhone1">
    <p>{{ "CONTACT.DESCRIPTION" | translate }}</p>
  </div>

  <!-- Formular -->
  <div class="container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="form-container">
        <div class="left">
          <input
            [(ngModel)]="contactData.name"
            name="name"
            required
            type="text"
            id="name"
            [placeholder]="'CONTACT.NAME_PLACEHOLDER' | translate"
            [ngModelOptions]="{ updateOn: 'blur' }"
            #name="ngModel"
          />
          <span *ngIf="!name.valid && name.touched" class="error">
            {{ "CONTACT.ERROR_NAME" | translate }}
          </span>

          <input
            [(ngModel)]="contactData.email"
            name="email"
            required
            type="email"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            id="email"
            [placeholder]="'CONTACT.EMAIL_PLACEHOLDER' | translate"
            [ngModelOptions]="{ updateOn: 'blur' }"
            #email="ngModel"
          />
          <span *ngIf="!email.valid && email.touched" class="error">
            {{ "CONTACT.ERROR_EMAIL" | translate }}
          </span>
        </div>

        <div class="right">
          <textarea
            [(ngModel)]="contactData.message"
            name="message"
            required
            id="message"
            [placeholder]="'CONTACT.MESSAGE_PLACEHOLDER' | translate"
            [ngModelOptions]="{ updateOn: 'blur' }"
            #message="ngModel"
          ></textarea>
          <span *ngIf="!message.valid && message.touched" class="error">
            {{ "CONTACT.ERROR_MESSAGE" | translate }}
          </span>
        </div>
      </div>

      <div class="privacy">
        <input
          type="checkbox"
          id="privacy"
          name="privacy"
          [(ngModel)]="contactData.privacy"
          required
          #privacy="ngModel"
        />
        <label>
          {{ "CONTACT.PRIVACY_PREFIX" | translate }}
          <a href="/privacy-policy" >
            {{ "CONTACT.PRIVACY_LINK" | translate }}
          </a>
          {{ "CONTACT.PRIVACY_SUFFIX" | translate }}
        </label>
      </div>
      <span *ngIf="!privacy.valid && privacy.touched" class="error">
        {{ "CONTACT.ERROR_PRIVACY" | translate }}
      </span>

      <div class="contactButton">
        <input
          type="submit"
          [value]="'CONTACT.SEND_BUTTON' | translate"
          [disabled]="!contactForm.valid"
        />
      </div>

      <!-- Success / Error Messages -->
      <p *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </p>
      <p *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </p>
    </form>
  </div>

  <!-- Mobile Kontakt + Pfeil -->
  <div class="emailAndPhoneMobile">
    <a href="#header">
      <div class="arrowUpContact1"></div>
    </a>
    <div class="spaceBetween">
      <div class="email">
        <div class="emailImg"></div>
        <a href="mailto:mariohidri2014@yahoo.com"
          >mariohidri2014&#64;yahoo.com</a
        >
      </div>
      <div class="phone">
        <div class="phoneImg"></div>
        <a href="tel:+4917662095211">+49 176 620 952 11</a>
      </div>
    </div>
  </div>
</section>
