section {
  padding-top: 12px;
  margin-left: 120px;
  scroll-margin-top: 115px;
}

select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #02f4bf !important;
  caret-color: #02f4bf !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.container {
  max-width: 1440px;
  margin: 12px auto 50px auto; /* centers horizontally */
  font-family: "Roboto Mono";
}

.form-container {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"] {
  height: 56px;
  border: 1.5px solid #02f4bf;
  background: transparent;
  color: #02f4bf;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 8px;
}

input::placeholder,
textarea::placeholder {
  color: #02f4bf;
}

textarea {
  width: 637px;
  height: 144px;
  border: 1.5px solid #02f4bf;
  background: transparent;
  color: #02f4bf;
  font-size: 16px;
  resize: none;
  margin-bottom: 10px;
  margin-top: 8px;
}

.privacy {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.privacy input {
  width: 16px;
  height: 16px;
  appearance: none;
  border: 1.5px solid #02f4bf;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.privacy input:checked {
  background-color: #02f4bf;
  border-color: #02f4bf;
}

.privacy input:checked::after {
  content: "✔";
  color: white;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.privacy input:hover {
  border-color: #01d1a5;
}

.privacy label {
  flex: 1;
  color: #02f4bf;
  // line-height: 2.5;
  white-space: nowrap;
}

.privacy a {
  color: #c94537;
  text-decoration: none;
  font-weight: bold;
}

.privacy a:hover {
  color: #ef4734;
}

input[type="submit"] {
  background-color: transparent;
  color: #e15544;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 104px !important;
  height: 52px !important;
  padding: 15px 30px;
  gap: 10px;
  border: 1px solid #02f4bf;
  transition: color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  color: #02f4bf;
}

.contactMeName {
  display: flex;
  align-items: center;
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 54px;
  line-height: 64px;
  gap: 40px;
}

.contactMeName img {
  width: 82px;
  height: 60px;
  margin-top: 24px;
}

.arrowUpContact1 {
  background-image: url("/assets/img/arrowUpContact.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 22px;
  display: flex;
  align-self: flex-end !important;
  position: absolute;
}

.emailAndPhone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  max-width: 1440px;
}

.emailAndPhone p {
  color: #02f4bf;
  flex: 1;
}

.emailAndPhone a {
  text-decoration: none;
}

.emailAndPhoneMobile {
  display: none;
  width: 500px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.emailAndPhone1 {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
}

.emailAndPhone1 p {
  color: #02f4bf;
  flex: 1;
  width: 700px;
}

.email,
.phone {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 4px;
  cursor: pointer;
}

.phoneImg,
.emailImg {
  background-size: contain;
  background-repeat: no-repeat;
  height: 21px;
  width: 21px;
  transition: background-image 0.1s ease-in-out;
}

.phoneImg {
  background-image: url("/assets/img/phone.svg");
}

.emailImg {
  background-image: url("/assets/img/email.svg");
}

.phone:hover .phoneImg {
  background-image: url("/assets/img/phoneHov.svg");
}

.email:hover .emailImg {
  background-image: url("/assets/img/emailHov.svg");
}

.email:hover a,
.phone:hover a {
  color: #02f4bf;
  transition: color 0.1s ease-in-out;
}

.arrowUpContact {
  background-image: url("/assets/img/arrowUpContact.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 22px;
  position: relative;
}

.arrowUpContact:hover {
  background-image: url("/assets/img/arrowUpContactHov.svg");
}

.arrowUpContact:hover::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 1px solid #02f4bf;
  cursor: pointer;
}

.contactButton {
  display: flex;
  justify-content: flex-end;
}

.spaceBetween {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  margin-left: 90px;
}

.spaceBetween a {
  color: #02f4bf;
}

/* ---------- Responsive ---------- */

/* between 771px and 1300px */
@media (min-width: 771px) and (max-width: 1300px) {
  .container,
  .emailAndPhone,
  .contactMeName {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* phones and small screens */
@media (max-width: 770px) {
  #contactMe {
    display: block;
    width: 180%;
    max-width: 600px;
    margin-left: 282px;
    margin-right: auto;
    padding: 20px 16px;
    text-align: center;
  }

  .container,
  .contactMeName {
    width: 100% !important;
    max-width: 600px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .form-container {
    flex-direction: column;
    gap: 0;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100% !important;
    max-width: 100% !important;
  }

  textarea {
    height: 144px;
  }

  .privacy {
    flex-direction: row;
    align-items: center;
  }

  .privacy label {
    white-space: normal;
  }

  .error {
    color: red;
    font-weight: 100;
    font-size: 14px;
    margin-top: 4px;
    display: block;
  }

  input.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched {
    border-color: red;
    background: transparent;
  }

  .privacy .error {
    margin-top: 5px;
    font-size: 14px;
  }

  .emailAndPhone {
    display: none !important;
  }

  .emailAndPhone1 {
    display: flex;
  }

  .contactMeName {
    justify-content: center;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
  }

  .contactMeName img {
    display: none;
  }

  .emailAndPhoneMobile {
    display: flex;
    margin-top: 60px;
  }

  .emailAndPhoneMobile .email,
  .emailAndPhoneMobile .phone {
    flex-direction: column;
  }

  .emailAndPhoneMobile a {
    text-decoration: none;
  }

  .emailAndPhoneMobile .spaceBetween {
    margin-left: 120px;
    margin-bottom: 50px;
  }

  .arrowUpContact1 {
    position: relative !important;
    top: -80px;
  }

  .contactButton {
    justify-content: center;
  }
}
