.projectsDiv {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

#polloLoco,
#join {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 40px;
  img {
    width: 588px;
    height: 371px;
  }
}

.polloDescription,
.joinDescription,
.pokedexDescription {
  gap: 40px;
  height: 318px;
  width: 500px;
  display: flex;
  flex-direction: column;

  h2 {
    font-family: "Roboto Mono";
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #02f4bf;
  }

  span {
    font-family: "Roboto Mono";
    font-weight: 400;
    font-size: 18px;
    line-height: 25x;
    color: #02f4bf;
  }
}

.pokedexDescription {
  display: flex;
  align-items: flex-end;
  h2 {
    display: flex;
    justify-content: flex-end;
  }
}

#pokedex {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 50px;
  img {
    width: 588px;
    height: 371px;
  }
}

#liveTest {
  width: 158px;
  height: 52px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  gap: 10px;
  background-color: #02f4bf;
  color: #0b042d;
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}

#liveTest:hover {
  color: #e15544;
}

#gitHub {
  width: 98px;
  height: 52px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  gap: 10px;
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #02f4bf;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}

#gitHub:hover {
  color: #02f4bf;
}

.buttonClassPollo,
.buttonClassPokedex,
.buttonClassJoin {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 10px;
}

h1 {
  text-align: center;
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 54px;
  line-height: 64px;
  color: #e15544;
  padding-top: 92px;
}

@media (max-width: 1300px) {
  section {
    width: 1140px;
  }
  h1 {
    width: 1140px;
  }
  #pokedex {
    margin-left: 105px;
  }

  #polloLoco {
    margin-left: 40px;
  }

  #join {
    margin-left: 40px;
  }

  #pokedex {
    margin-left: 40px;
  }
}

@media (max-width: 770px) {
  h2 {
    font-size: 64px;
  }
  h1 {
    margin-top: 12px;
    font-size: 100px;
  }

  .titleTech {
    width: 1000px;
    align-self: center;
    align-items: center;
  }
  .projectsDiv {
    gap: 60px;
    display: grid;
  }

  .polloDescription,
  .joinDescription,
  .pokedexDescription {
    span {
      font-size: 40px;
      line-height: normal;
      width: 1000px;
    }
  }
  .buttonClassPollo {
    margin-top: 710px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .buttonClassPokedex {
    margin-top: 755px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .buttonClassJoin {
    margin-top: 800px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  #projects {
    padding-top: 800px;
  }

  #pokedex,
  #join,
  #polloLoco {
    flex-direction: column-reverse;

    img {
      margin-top: 140px;
      width: 90%;
      height: 90%;
    }
  }

  .polloDescription {
    align-items: center;
  }

  .pokedexDescription {
    align-items: center;
  }

  .pokedexDescription h2 {
    justify-content: center;
  }

  .joinDescription {
    display: flex;
    align-items: center;
  }

  .joinDescription h2 {
    display: flex;
    justify-content: center;
  }
}
