<h1 class="title">My Projects</h1>

<section id="polloLoco">
  <img src="../../../assets/img/elPolloLoco.png" alt="" />

  <div class="polloDescription">
    <div>
      <h2>Pollo Loco</h2>
      <span>JavaScript | HTML | CSS</span>
    </div>

    <span
      >Jump, run and throw game based on object- <br />oriented approach. Help
      Pepe to find coins <br />
      and tabasco salsa to fight against the crazy <br />hen.</span
    >
    <div class="buttonClass">
      <button id="gitHub">GitHub</button
      ><button id="liveTest">Live Test</button>
    </div>
  </div>
</section>

<section id="pokedex">
  <img src="../../../assets/img/pokemon.jpg" />

  <div class="pokedexDescription">
    <div>
      <h2>Pokédex</h2>
      <span>JavaScript | HTML | CSS | API</span>
    </div>
<div>  <span>
  Explore, search, and view Pokémon stats 
  using an API-based interface. Discover 
  each Pokémon's abilities and traits with  
  an interactive and user-friendly design.
</span></div>
  
    <div class="buttonClass">
      <button id="gitHub">GitHub</button
      ><button id="liveTest">Live Test</button>
    </div>
  </div>
</section>

<section id="join">
  <img src="../../../assets/img/join.jpg" alt="" />

  <div class="joinDescription">
    <div>
      <h2>Join</h2>
      <span>JavaScript | HTML | CSS | Firebase</span>
    </div>

    <span
      >Task manager inspired by the Kanban System. Create and organize tasks
      using drag and drop functions, assign users and categories.
    </span>
    <div class="buttonClass">
      <button id="gitHub">GitHub</button
      ><button id="liveTest">Live Test</button>
    </div>
  </div>
</section>
