<section>
  <h1>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
  <p>{{ 'PRIVACY_POLICY.LAST_UPDATED' | translate }}: March 20, 2025</p>
  <p>{{ 'PRIVACY_POLICY.INTRO_TEXT' | translate }}</p>
  <p>
    {{ 'PRIVACY_POLICY.INTRO_DETAIL' | translate }}
    <a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank">
      {{ 'PRIVACY_POLICY.PRIVACY_POLICY_GENERATOR' | translate }}
    </a>.
  </p>

  <h2>{{ 'PRIVACY_POLICY.INTERPRETATION_DEFINITIONS' | translate }}</h2>
  <h3>{{ 'PRIVACY_POLICY.INTERPRETATION' | translate }}</h3>
  <p>{{ 'PRIVACY_POLICY.INTERPRETATION_TEXT' | translate }}</p>
  <h3>{{ 'PRIVACY_POLICY.DEFINITIONS' | translate }}</h3>
  <p>{{ 'PRIVACY_POLICY.DEFINITIONS_TEXT' | translate }}</p>
  <ul>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.ACCOUNT' | translate }}</strong> {{ 'PRIVACY_POLICY.ACCOUNT_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.AFFILIATE' | translate }}</strong> {{ 'PRIVACY_POLICY.AFFILIATE_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.COMPANY' | translate }}</strong> {{ 'PRIVACY_POLICY.COMPANY_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.COOKIES' | translate }}</strong> {{ 'PRIVACY_POLICY.COOKIES_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.COUNTRY' | translate }}</strong> {{ 'PRIVACY_POLICY.COUNTRY_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.DEVICE' | translate }}</strong> {{ 'PRIVACY_POLICY.DEVICE_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.PERSONAL_DATA' | translate }}</strong> {{ 'PRIVACY_POLICY.PERSONAL_DATA_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.SERVICE' | translate }}</strong> {{ 'PRIVACY_POLICY.SERVICE_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.SERVICE_PROVIDER' | translate }}</strong> {{ 'PRIVACY_POLICY.SERVICE_PROVIDER_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.USAGE_DATA' | translate }}</strong> {{ 'PRIVACY_POLICY.USAGE_DATA_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.WEBSITE' | translate }}</strong> {{ 'PRIVACY_POLICY.WEBSITE_TEXT' | translate }}
        <a href="http://mariohidri.de" rel="external nofollow noopener" target="_blank">
          http://mariohidri.de
        </a>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.YOU' | translate }}</strong> {{ 'PRIVACY_POLICY.YOU_TEXT' | translate }}
      </p>
    </li>
  </ul>

  <h2>{{ 'PRIVACY_POLICY.COLLECTION_USE_TITLE' | translate }}</h2>
  <h3>{{ 'PRIVACY_POLICY.TYPES_OF_DATA' | translate }}</h3>
  <h4>{{ 'PRIVACY_POLICY.PERSONAL_DATA' | translate }}</h4>
  <p>{{ 'PRIVACY_POLICY.PERSONAL_DATA_COLLECTION' | translate }}</p>
  <ul>
    <li><p>{{ 'PRIVACY_POLICY.EMAIL_ADDRESS' | translate }}</p></li>
    <li><p>{{ 'PRIVACY_POLICY.FULL_NAME' | translate }}</p></li>
    <li><p>{{ 'PRIVACY_POLICY.USAGE_DATA' | translate }}</p></li>
  </ul>
  <h4>{{ 'PRIVACY_POLICY.USAGE_DATA' | translate }}</h4>
  <p>{{ 'PRIVACY_POLICY.USAGE_DATA_COLLECTION' | translate }}</p>
  <p>{{ 'PRIVACY_POLICY.USAGE_DATA_DETAIL' | translate }}</p>
  <h4>{{ 'PRIVACY_POLICY.TRACKING_COOKIES' | translate }}</h4>
  <p>{{ 'PRIVACY_POLICY.TRACKING_COOKIES_TEXT' | translate }}</p>
  <ul>
    <li>
      <strong>{{ 'PRIVACY_POLICY.COOKIE_BROWSER' | translate }}</strong>
      {{ 'PRIVACY_POLICY.COOKIE_BROWSER_TEXT' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY_POLICY.WEB_BEACONS' | translate }}</strong>
      {{ 'PRIVACY_POLICY.WEB_BEACONS_TEXT' | translate }}
    </li>
  </ul>
  <p>
    {{ 'PRIVACY_POLICY.COOKIE_INFO' | translate }}
    <a href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies" target="_blank">
      {{ 'PRIVACY_POLICY.TERMSFEED' | translate }}
    </a>.
  </p>
  <p>{{ 'PRIVACY_POLICY.COOKIE_PURPOSE' | translate }}</p>
  <ul>
    <li>
      <p><strong>{{ 'PRIVACY_POLICY.NECESSARY_COOKIES' | translate }}</strong></p>
      <p>{{ 'PRIVACY_POLICY.NECESSARY_COOKIES_DETAIL' | translate }}</p>
    </li>
    <li>
      <p><strong>{{ 'PRIVACY_POLICY.NOTICE_COOKIES' | translate }}</strong></p>
      <p>{{ 'PRIVACY_POLICY.NOTICE_COOKIES_DETAIL' | translate }}</p>
    </li>
    <li>
      <p><strong>{{ 'PRIVACY_POLICY.FUNCTIONAL_COOKIES' | translate }}</strong></p>
      <p>{{ 'PRIVACY_POLICY.FUNCTIONAL_COOKIES_DETAIL' | translate }}</p>
    </li>
  </ul>

  <h3>{{ 'PRIVACY_POLICY.USE_OF_DATA' | translate }}</h3>
  <p>{{ 'PRIVACY_POLICY.USE_OF_DATA_INTRO' | translate }}</p>
  <ul>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.PURPOSE_SERVICE' | translate }}</strong>
        {{ 'PRIVACY_POLICY.PURPOSE_SERVICE_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.MANAGE_ACCOUNT' | translate }}</strong>
        {{ 'PRIVACY_POLICY.MANAGE_ACCOUNT_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.PERFORMANCE_CONTRACT' | translate }}</strong>
        {{ 'PRIVACY_POLICY.PERFORMANCE_CONTRACT_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.CONTACT_YOU' | translate }}</strong>
        {{ 'PRIVACY_POLICY.CONTACT_YOU_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.NEWS_OFFERS' | translate }}</strong>
        {{ 'PRIVACY_POLICY.NEWS_OFFERS_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.MANAGE_REQUESTS' | translate }}</strong>
        {{ 'PRIVACY_POLICY.MANAGE_REQUESTS_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.BUSINESS_TRANSFERS' | translate }}</strong>
        {{ 'PRIVACY_POLICY.BUSINESS_TRANSFERS_TEXT' | translate }}
      </p>
    </li>
    <li>
      <p>
        <strong>{{ 'PRIVACY_POLICY.OTHER_PURPOSES' | translate }}</strong>
        {{ 'PRIVACY_POLICY.OTHER_PURPOSES_TEXT' | translate }}
      </p>
    </li>
  </ul>

  <p>{{ 'PRIVACY_POLICY.SHARING_DATA' | translate }}</p>
  <ul>
    <li><strong>{{ 'PRIVACY_POLICY.SERVICE_PROVIDERS' | translate }}</strong> {{ 'PRIVACY_POLICY.SERVICE_PROVIDERS_TEXT' | translate }}</li>
    <li><strong>{{ 'PRIVACY_POLICY.BUSINESS_TRANSFERS' | translate }}</strong> {{ 'PRIVACY_POLICY.BUSINESS_TRANSFERS_TEXT_2' | translate }}</li>
    <li><strong>{{ 'PRIVACY_POLICY.AFFILIATES' | translate }}</strong> {{ 'PRIVACY_POLICY.AFFILIATES_TEXT' | translate }}</li>
    <li><strong>{{ 'PRIVACY_POLICY.BUSINESS_PARTNERS' | translate }}</strong> {{ 'PRIVACY_POLICY.BUSINESS_PARTNERS_TEXT' | translate }}</li>
    <li><strong>{{ 'PRIVACY_POLICY.OTHER_USERS' | translate }}</strong> {{ 'PRIVACY_POLICY.OTHER_USERS_TEXT' | translate }}</li>
    <li><strong>{{ 'PRIVACY_POLICY.CONSENT' | translate }}</strong> {{ 'PRIVACY_POLICY.CONSENT_TEXT' | translate }}</li>
  </ul>

  <h3>{{ 'PRIVACY_POLICY.DATA_RETENTION' | translate }}</h3>
  <p>{{ 'PRIVACY_POLICY.DATA_RETENTION_TEXT' | translate }}</p>
  <p>{{ 'PRIVACY_POLICY.USAGE_DATA_RETENTION' | translate }}</p>

  <h3>{{ 'PRIVACY_POLICY.DATA_TRANSFER' | translate }}</h3>
  <p>{{ 'PRIVACY_POLICY.DATA_TRANSFER_TEXT' | translate }}</p>

  <h3>{{ 'PRIVACY_POLICY.DELETE_DATA' | translate }}</h3>
  <p>{{ 'PRIVACY_POLICY.DELETE_DATA_TEXT' | translate }}</p>
  <p>{{ 'PRIVACY_POLICY.DELETE_DATA_DETAIL' | translate }}</p>

  <h3>{{ 'PRIVACY_POLICY.DATA_DISCLOSURE' | translate }}</h3>
  <h4>{{ 'PRIVACY_POLICY.BUSINESS_TRANSACTIONS' | translate }}</h4>
  <p>{{ 'PRIVACY_POLICY.BUSINESS_TRANSACTIONS_TEXT' | translate }}</p>
  <h4>{{ 'PRIVACY_POLICY.LAW_ENFORCEMENT' | translate }}</h4>
  <p>{{ 'PRIVACY_POLICY.LAW_ENFORCEMENT_TEXT' | translate }}</p>
  <h4>{{ 'PRIVACY_POLICY.OTHER_LEGAL_REQUIREMENTS' | translate }}</h4>
  <p>{{ 'PRIVACY_POLICY.OTHER_LEGAL_REQUIREMENTS_TEXT' | translate }}</p>
  <ul>
    <li>{{ 'PRIVACY_POLICY.LEGAL_OBLIGATION' | translate }}</li>
    <li>{{ 'PRIVACY_POLICY.PROTECT_COMPANY' | translate }}</li>
    <li>{{ 'PRIVACY_POLICY.PREVENT_WRONGDOING' | translate }}</li>
    <li>{{ 'PRIVACY_POLICY.PROTECT_SAFETY' | translate }}</li>
    <li>{{ 'PRIVACY_POLICY.LEGAL_LIABILITY' | translate }}</li>
  </ul>

  <h3>{{ 'PRIVACY_POLICY.DATA_SECURITY' | translate }}</h3>
  <p>{{ 'PRIVACY_POLICY.DATA_SECURITY_TEXT' | translate }}</p>

  <h2>{{ 'PRIVACY_POLICY.CHILDREN_PRIVACY' | translate }}</h2>
  <p>{{ 'PRIVACY_POLICY.CHILDREN_PRIVACY_TEXT' | translate }}</p>
  <p>{{ 'PRIVACY_POLICY.PARENTAL_CONSENT' | translate }}</p>

  <h2>{{ 'PRIVACY_POLICY.LINKS_TO_OTHER_WEBSITES' | translate }}</h2>
  <p>{{ 'PRIVACY_POLICY.LINKS_TEXT' | translate }}</p>
  <p>{{ 'PRIVACY_POLICY.NO_CONTROL' | translate }}</p>

  <h2>{{ 'PRIVACY_POLICY.CHANGES_TO_POLICY' | translate }}</h2>
  <p>{{ 'PRIVACY_POLICY.CHANGES_TO_POLICY_TEXT' | translate }}</p>
  <p>{{ 'PRIVACY_POLICY.NOTIFY_CHANGES' | translate }}</p>
  <p>{{ 'PRIVACY_POLICY.REVIEW_PERIODICALLY' | translate }}</p>

  <h2>{{ 'PRIVACY_POLICY.CONTACT' | translate }}</h2>
  <p>{{ 'PRIVACY_POLICY.CONTACT_TEXT' | translate }}</p>
  <ul>
    <li>By email: <a href="mailto:mariohidri2014&#64;yahoo.com">mariohidri2014&#64;yahoo.com</a></li>
  </ul>
</section>
