<section>
    <h1>{{ 'DISCLAIMER.TITLE' | translate }}</h1>
    <p>{{ 'DISCLAIMER.LAST_UPDATED' | translate }}: March 27, 2025</p>
    
    <h2>{{ 'DISCLAIMER.INTERPRETATION_DEFINITIONS' | translate }}</h2>
    <h3>{{ 'DISCLAIMER.INTERPRETATION' | translate }}</h3>
    <p>{{ 'DISCLAIMER.INTERPRETATION_TEXT' | translate }}</p>
    
    <h3>{{ 'DISCLAIMER.DEFINITIONS' | translate }}</h3>
    <p>{{ 'DISCLAIMER.DEFINITIONS_TEXT' | translate }}</p>
    <ul>
      <li><strong>{{ 'DISCLAIMER.COMPANY' | translate }}</strong> {{ 'DISCLAIMER.COMPANY_DESCRIPTION' | translate }}</li>
      <li><strong>{{ 'DISCLAIMER.SERVICE' | translate }}</strong> {{ 'DISCLAIMER.SERVICE_DESCRIPTION' | translate }}</li>
      <li><strong>{{ 'DISCLAIMER.YOU' | translate }}</strong> {{ 'DISCLAIMER.YOU_DESCRIPTION' | translate }}</li>
      <li><strong>{{ 'DISCLAIMER.WEBSITE' | translate }}</strong> {{ 'DISCLAIMER.WEBSITE_DESCRIPTION' | translate }} <a href="http://mariohidri.de" rel="external nofollow noopener" target="_blank">http://mariohidri.de</a></li>
    </ul>
    
    <h2>{{ 'DISCLAIMER.GENERAL' | translate }}</h2>
    <p>{{ 'DISCLAIMER.GENERAL_TEXT' | translate }}</p>
    
    <h2>{{ 'DISCLAIMER.EXTERNAL_LINKS' | translate }}</h2>
    <p>{{ 'DISCLAIMER.EXTERNAL_LINKS_TEXT' | translate }}</p>
    
    <h2>{{ 'DISCLAIMER.ERRORS_OMISSIONS' | translate }}</h2>
    <p>{{ 'DISCLAIMER.ERRORS_OMISSIONS_TEXT' | translate }}</p>
    
    <h2>{{ 'DISCLAIMER.FAIR_USE' | translate }}</h2>
    <p>{{ 'DISCLAIMER.FAIR_USE_TEXT' | translate }}</p>
    
    <h2>{{ 'DISCLAIMER.VIEWS_EXPRESSED' | translate }}</h2>
    <p>{{ 'DISCLAIMER.VIEWS_EXPRESSED_TEXT' | translate }}</p>
    
    <h2>{{ 'DISCLAIMER.NO_RESPONSIBILITY' | translate }}</h2>
    <p>{{ 'DISCLAIMER.NO_RESPONSIBILITY_TEXT' | translate }}</p>
    
    <h2>{{ 'DISCLAIMER.USE_AT_OWN_RISK' | translate }}</h2>
    <p>{{ 'DISCLAIMER.USE_AT_OWN_RISK_TEXT' | translate }}</p>
    
    <h2>{{ 'DISCLAIMER.CONTACT' | translate }}</h2>
    <p>{{ 'DISCLAIMER.CONTACT_TEXT' | translate }}</p>
    <ul>
      <li>By email: <a href="mailto:mariohidri2014&#64;yahoo.com">mariohidri2014&#64;yahoo.com</a></li>
    </ul>
  </section>