<section id="mySkills">
  <h1>My Skills</h1>
  <div class="listedSkills">
    <div class="flexVertical">
      <img src="../../../assets/img/Angular.svg" alt="" />
      <span>Angular</span>
    </div>
    <div class="flexVertical">
      <img src="../../../assets/img/TypeScript.svg" alt="" />
      <span>TypeScript</span>
    </div>
    <div class="flexVertical">
      <img src="../../../assets/img/Javascript.svg" alt="" />
      <span>JavaScript</span>
    </div>
    <div class="flexVertical">
      <img src="../../../assets/img/html.svg" alt="" />
      <span>HTML</span>
    </div>
    <div class="flexVertical">
      <img src="../../../assets/img/CSS.svg" alt="" />
      <span>CSS</span>
    </div>
    <div class="flexVertical">
      <img src="../../../assets/img/Api.svg" alt="" />
      <span>Rest-Api</span>
    </div>
  </div>

  <div class="listedSkills2">
    <div class="flexVertical">
      <img src="../../../assets/img/Firebase.svg" alt="" /><span>Firebase</span>
    </div>

    <div class="flexVertical">
      <img src="../../../assets/img/git.svg" alt="" /><span>GIT</span>
    </div>

    <div class="flexVertical">
      <img src="../../../assets/img/scrum.svg" alt="" /><span>Scrum</span>
    </div>
    <div class="flexVertical">
      <img src="../../../assets/img/Icons.svg" alt="" /><span
        >Material design</span
      >
    </div>

    <div>
      <div class="secretBox">
        <div class="flexVertical">
          <img src="../../../assets/img/secret.svg" alt="" />
          <span
            >Challange <br />
            me</span
          >
        </div>

        <p>
          Im always happy to learn new technologies, just tell me what you need.
        </p>
      </div>
    </div>
  </div>
</section>
