section {
  height: 423px;
  width: 1284px;
  margin-left: 105px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.flexVertical {
  width: 98px;
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: column !important;
  gap: 6px;
  font-family: "Roboto Mono";
  font-weight: 700;
  font-size: 18px;
  text-align: center;

  img {
    width: 60px;
    height: 60px;
  }

  span {
    color: #02f4bf;
  }
}

h1 {
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 54px;
  line-height: 65px;
}

.listedSkills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listedSkills2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.secretBox {
  display: flex;
  align-items: center;
  gap: 12px;

  p {
    position: relative;
    left: 40px;
    bottom: 8px;
    opacity: 0;
    width: 230px;
    height: 80px;
    transition: opacity 0.2s ease-in-out;
    color: #02f4bf;
    font-family: "Roboto Mono";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}

.secretBox:hover p {
  opacity: 1;
}
