* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #e15544;
}

body {
  max-width: 1440px;
  background: linear-gradient(
    180deg,
    #13074e 50%,
    rgba(29, 10, 121, 0.95) 100%
  );
    overflow-x: hidden;

}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceAround{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.logo, .footer-logo {
  font-family: "Handjet" !important;
  font-size: 48px !important;
  font-weight: 600 !important;
  line-height: 48px !important;
  letter-spacing: 0.05em !important;
  color: #e15544 !important;
  margin: 0px!important;
  margin-right: 20px !important;
  margin-left: 120px !important;
}


@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/RobotoMono-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: Bold Italic;
  font-weight: 700;
  src: url("./assets/fonts/static/RobotoMono-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Handjet";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Handjet/static/Handjet-Regular.ttf")
    format("truetype");
}

@media (max-width: 1300px) {
   body{
    max-width: 1140px;
  }
}

